
h1, h3 {
    text-align: center;
}


.news h3 {
    font-size: 1.2em;
    margin-bottom: 0;
}

.news p {
    background-color: #f8f9fa;
    margin-top: 0;
}


.news {
    width: 100%;
}


a {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: darkblue;
    text-decoration: underline;
}
